body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

body {
  background: linear-gradient(45deg, #ad7fbb, #73a8c5);
  background-size: 100% 100vh;
  min-width: 700px;
  padding: 16vh 0 0;
}

.container {
  width: 650px;
  margin: 0 auto;
  position: relative;
}

.btn {
  font-size: 20px;
  background-color: rgba(0, 0, 0, 0);
  border: 1px solid #000;
  cursor: pointer;
  border-radius: 3px;
}

.table {
  width: 100%;
  border: 1px solid #000;
  padding: 20px;
  text-align: center;
}

.table__title {
  width: 150px;
}

.table__row {
  height: 40px;
}

.table__addBtn {
  text-align: center;
  width: 30px;
  height: 30px;
}

.table__delAllBtn {
  font-size: 14px;
  width: 100px;
  height: 30px;
}

.itemsInCartCount {
  text-align: left;
}

.goToCart-btn,
.goToItemList-btn,
.clearCart-btn {
  position: absolute;
  bottom: -70px;
  height: 40px;
}

.clearCart-btn {
  right: 50px;
}